## week6
## input_gate_2
## 2학년 2반 2021041089 최태민

## 입력  GPIO
NET "x0" LOC = R7;
NET "x1" LOC = M7;
NET "x2" LOC = E10;

## 출력  GPIO
NET "y0" LOC = C7;
NET "y1" LOC = D5;
NET "y2" LOC = D8;
NET "y3" LOC = E7;
NET "y4" LOC = F7;
NET "y5" LOC = A12;
NET "y6" LOC = A14;
NET "y7" LOC = B12;