## 2학년 3반 2021041068 이한수, 2021041089 최태민
## JK FLIP-FLOP

# CLOCK-INPUT
NET "CLK" LOC=C10; #X3

# JK-INPUT
NET "JK(1)" LOC=R7; #X0
NET "JK(0)" LOC=E10; #X2

# JK-OUTPUT
NET "JK_Q_QVAR(1)" LOC=C7; #Y0
NET "JK_Q_QVAR(0)" LOC=D8; #Y2